<div [ngClass]="mediaQuery.portrait ? 'portraitContentWrapper' : 'contentWrapper'">
    <div id="main" class="verticalFlex">
      <div *ngFor="let pair of pageModel.interestDictionary">
        <mdp-vertical-folder [label]=pair[0] maxHeight="auto">
          <div class="interestList">
            <mdp-interest-card *ngFor="let interest of pair[1]" [interest]="interest"></mdp-interest-card>
          </div>
        </mdp-vertical-folder>
      </div>
    </div>
    <mdp-ad-list *ngIf="!mediaQuery.portrait"></mdp-ad-list>
</div>