@import '../../../../variables.scss';
#container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $strongMainColor;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;
    box-shadow: 0px 0px 8px 0px #555555;
} i {
    cursor: pointer;
}

mdp-search-bar{
    width: 50%;
    height: 50%;
}