@import '../../../../variables.scss';
#container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: $strongMainColor;
    height: 100%;
} i {
    cursor: pointer;
}

mdp-search-bar{
    width: 50%;
    height: 50%;
}