.mainBlockText {
  text-decoration: bold;
  color: $strongOutlineColor;
}

.secondaryBlockText {
  color: $mediumOutlineColor;
}

.titleText {
  font-size: $largeFontSize;
  font-family: $highlightFont;
  color: $mediumMainColor;
}

.summaryGrid {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: 0.25fr 0.75fr;
}

.summaryBlockTextContainer {
  margin-left: 4px;
}