@import './variables.scss';

.verticalFlex {
  display: flex;
  flex-direction: column;
}

.appWrapper {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 160px auto;
  background-color: $mediumBackgroundColor;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.appWrapperPortrait {
  @extend .appWrapper;
  grid-template-rows: 80px auto;
  grid-template-columns: 0px auto;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 8fr 2fr;
  overflow-y: auto;
}

.contentWrapperPortrait {
  @extend .verticalFlex;
}

.roundedImage {
  border-radius: 50%;
}

.twoRowsGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.twoColumnsGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.centerInternalText {
  text-align: center;
  vertical-align: middle;
}

p, i, label, div {
  font-family: $standardFont;
  font-size: $mediumFontSize;
  color: $mediumOutlineColor;
}

input {
  // Styles for input elements go here
}

.bold{
  font-weight: bold;
}

.inline{
  display: inline;
}
// Os elementos cujo tamanho PRECISA ser definido no componente
mdp-artifact-list,mdp-artifact-card, mdp-interest-card, mdp-review-card, mdp-vertical-folder, 
mdp-horizontal-folder, mdp-rate-control, mdp-search-bar, mdp-search-filter,
mdp-navigation-icons, mdp-navigation-bar{
  display: block;
}

.highlightText{
  color: $strongMainColor;
}

body{
  margin: 0;
}