
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$MDP-primary: mat.define-palette(mat.$indigo-palette);
$MDP-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$MDP-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$MDP-theme: mat.define-light-theme((
  color: (
    primary: $MDP-primary,
    accent: $MDP-accent,
    warn: $MDP-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($MDP-theme);

@import './variables.scss';

.flex {
  display: flex;
}

.verticalFlex {
  display: flex;
  flex-direction: column;
}

.appWrapper {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 160px auto;
  background-color: $mediumBackgroundColor;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
}

.appWrapperPortrait {
  @extend .appWrapper;
  grid-template-rows: 80px auto;
  grid-template-columns: 0px auto;
}

.contentWrapper {
  display: grid;
  grid-template-columns: 8fr 2fr;
  overflow-y: hidden;
  padding: 4px 0px 0px 4px;
}

.contentWrapperPortrait {
  @extend .verticalFlex;
}

.roundedImage {
  border-radius: 50%;
}

.twoRowsGrid {
  display: grid;
  grid-template-rows: auto auto;
}

.twoColumnsGrid {
  display: grid;
  grid-template-columns: auto auto;
}

.twoEqualRowsGrid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.twoEqualColumnsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.centerInternalText {
  text-align: center;
  vertical-align: middle;
}

p,
i,
label,
div {
  font-family: $standardFont;
  font-size: $mediumFontSize;
  color: $mediumOutlineColor;
  margin: 0;
}

i {
  user-select: none;
}

input {
  // Styles for input elements go here
  height: 100%;
  width: 100%;
  box-shadow: 0 0 0 0;
  box-sizing: border-box;
  border: 0 none;
  outline: 0;
  background-color: aliceblue;
}

.bold {
  font-weight: bold;
}

.inline {
  display: inline;
}

// Os elementos cujo tamanho PRECISA ser definido no componente
mdp-artifact-list,
mdp-artifact-card,
mdp-interest-card,
mdp-review-card,
mdp-vertical-folder,
mdp-horizontal-folder,
mdp-rate-control,
mdp-search-bar,
mdp-search-filter,
mdp-navigation-icons,
mdp-navigation-bar {
  display: block;
}

.highlightText {
  color: $strongMainColor;
  font-size: $mediumFontSize;
}

body {
  margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
