// Colors
$strongMainColor: #0000ff;
$mediumMainColor: #6666ff;
$lightMainColor: #ccccff;
$strongSecondaryColor: #ff0000;
$mediumSecondaryColor: #ff6666;
$lightSecondaryColor: #ffcccc;
$strongOutlineColor: #000000;
$mediumOutlineColor: #666666;
$lightOutlineColor: #cccccc;
$strongBackgroundColor: #ffffff;
$mediumBackgroundColor: #f2f2f2;
$lightBackgroundColor: #f9f9f9;

// Fonts
$standardFont: Arial;
$highlightFont: Arial;

// Font-sizes
$extraSmallFontSize: 10px;
$smallFontSize: 12px;
$mediumFontSize: 16px;