<div id="container" class="verticalFlex">
    <div class="navBlock">
        <a routerLink="/" [ngClass]="hoverFolder? 'noColor': ''">
            <i class="material-symbols-outlined icon">live_tv</i>
            <p>Shows</p>
            <i class="material-symbols-outlined icon inline" (click)="Toggle()">{{currentIcon}}</i>
        </a>
        <div #content [@expandCollapse]="{value: expanded ? 'expanded' : 'collapsed', params: {maxHeight: maxHeight, animationDuration:animationDuration}}">
                <a routerLink="/anime"><i class="material-symbols-outlined icon">book_2<p>Anime</p></i></a>
          </div>
        


        <a routerLink="/book"><i class="material-symbols-outlined icon">book_2<p>Literature</p></i></a>
        <a routerLink="/game"><i class="material-symbols-outlined icon">sports_esports<p>Games</p></i></a>
        <a routerLink="/music"><i class="material-symbols-outlined icon">music_note<p>Music</p></i></a>
        <a routerLink="/music"><i class="material-symbols-outlined icon">groups<p>Community</p></i></a>
    </div>
</div>