@import '../../../../variables.scss';

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navBlock {
    background-color: $mediumMainColor;
    border-bottom-width: 1px;
    border-color: $strongBackgroundColor;
    width: 100%;
    flex: 1;

    :hover {
        background-color: $lightMainColor;
        border-radius: 15px;
        cursor: pointer;
    }
    padding-top: 15px;
    display: flex;
    flex-direction: column;
}

i {
    display: flex;
    align-items: center;
    font-size: $largeFontSize;
    color: $strongBackgroundColor;
    gap: 15px;
    font-size: 35px;
    padding-left: 1vw;
}

p {
    font-size: $largeFontSize;
    color: $strongBackgroundColor;
}

a {
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    text-decoration: none;
}