<div id="container" class="verticalFlex">
    <div class="navBlock">
        <a routerLink="/anime"><i class="material-symbols-outlined icon">live_tv<p>Shows</p></i></a>
        <a routerLink="/book"><i class="material-symbols-outlined icon">book_2<p>Literature</p></i></a>
        <a routerLink="/game"><i class="material-symbols-outlined icon">sports_esports<p>Games</p></i></a>
        <a routerLink="/music"><i class="material-symbols-outlined icon">music_note<p>Music</p></i></a>
        <a routerLink="/music"><i class="material-symbols-outlined icon">groups<p>Community</p></i></a>
    </div>
</div>
