@import '../../../../variables.scss';

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.navBlock {
    background-color: $mediumMainColor;
    border-bottom-width: 1px;
    border-color: $strongBackgroundColor;
    width: 100%;
    flex: 1;

    :hover {
        background-color: $lightMainColor;
        cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 20px;
}

i {
    display: flex;
    align-items: center;
    font-size: $largeFontSize;
    color: $strongBackgroundColor;
    gap: 15px;
    font-size: 35px;
    padding-left: 1vw;
}

p {
    font-size: $largeFontSize;
    color: $strongBackgroundColor;
}