<div class="summaryGrid">
    <img [src]="person.mainImgUrl">
    <div class="titleText centerInternalText">{{person.fullName}}</div>
    <div class="twoColumnsGrid">
      <div>
        <mdp-rate-widget [rate]="person.averageRating" class="rateWidget"></mdp-rate-widget>
        <mdp-rate-control (rated)="RateChanged($event)"></mdp-rate-control>
      </div>
      <div class="flexbox">
        <!-- Add relevant information here -->
        <div class="summaryBlockTextContainer">
          <p class="mainBlockText">Main Text:</p><p class="secondaryBlockText inline">Secondary Text</p>
        </div>
      </div>
    </div>
  </div>