<div class="card border-0">
  <div class="row g-0 d-flex justify-content-center">
    <div class="col-md" style="max-width: 270px;">
      <img [src]="person.mainImage.url" class="img-fluid rounded mainImage" alt="..."
        style="width: 270px; height: 270px;">
    </div>
    <div class="col-md px-3">
      <div class="card-body">
        <h1 class="card-title">{{ person.fullName.literal }}</h1>
        <p>{{ person.description }}</p>
        <p>{{ person.birthday | date:"dd/MM/yyyy"}}</p>
        <p>{{ person.country?.name }}</p>
        <p>{{ person.gender | genderToString}}</p>
        <p *ngFor="let role of person.roles">{{ role.name }}</p>
        <p *ngFor="let nickname of person.nicknames">{{ nickname.literal}}</p>
        <div class="d-flex mt-3">
          <mdp-star-list [value]="person.averageRating" />
          <h4 class="ms-2">{{ person.averageRating }}/10</h4>
          <mdp-work-rate-dropdown class="ms-2" />
        </div>
      </div>
    </div>
  </div>
</div>