<div id="title">
    <h1>TRENDING TOPIC</h1><i style="font-size: 35px; color: azure;"
        class="material-symbols-outlined icon">trending_up</i>
</div>

<div id="list-trending-artefact">
    <div>
        <div>
            <h1>#1</h1>
        </div>
        <div>
            <img src="assets/imgs/ArtifactCard.png" alt="">
            <h1>descrições</h1>
        </div>
    </div>
    <div>
        <div>
            <h1>#2</h1>
        </div>
        <div>
            <img src="assets/imgs/ArtifactCard.png" alt="">
            <h1>descrições</h1>
        </div>
    </div>
    <div>
        <div>
            <h1>#3</h1>
        </div>
        <div>
            <img src="assets/imgs/ArtifactCard.png" alt="">
            <h1>descrições</h1>
        </div>
    </div>
    <div>
        <div>
            <h1>#4</h1>
        </div>
        <div>
            <img src="assets/imgs/ArtifactCard.png" alt="">
            <h1>descrições</h1>
        </div>
    </div>
    <div>
        <div>
            <h1>#5</h1>
        </div>
        <div>
            <img src="assets/imgs/ArtifactCard.png" alt="">
            <h1>descrições</h1>
        </div>
    </div>
</div>