<div id="title">
    <h1>TRENDING TOPIC</h1><i style="font-size: 35px; color: rgb(0, 73, 73);"
        class="material-symbols-outlined icon">trending_up</i>
</div>

<div id="list-trending-artefact">
    <div id="card-total">
        <div>
            <h2>#1</h2>
        </div>
        <img src="assets/imgs/ArtifactCard.png" alt="">
        <div id="description">
            <h2>Anime</h2>
            <p>Campo 1</p>
            <p>Campo 2</p>
            <p>Campo 3</p>
            <p>Campo 4</p>
        </div>
    </div>
    <div id="card-total">
        <div>
            <h2>#2</h2>
        </div>
        <img src="assets/imgs/ArtifactCard.png" alt="">
        <div id="description">
            <h2>Anime</h2>
            <p>Campo 1</p>
            <p>Campo 2</p>
            <p>Campo 3</p>
            <p>Campo 4</p>
        </div>
    </div>
    <div id="card-total">
        <div>
            <h2>#3</h2>
        </div>

        <img src="assets/imgs/ArtifactCard.png" alt="">

        <div id="description">
            <h2>Anime</h2>
            <p>Campo 1</p>
            <p>Campo 2</p>
            <p>Campo 3</p>
            <p>Campo 4</p>
        </div>
    </div>
    <div id="card-total">
        <div>
            <h2>#4</h2>
        </div>
        <img src="assets/imgs/ArtifactCard.png" alt="">
        <div id="description">
            <h2>Anime</h2>
            <p>Campo 1</p>
            <p>Campo 2</p>
            <p>Campo 3</p>
            <p>Campo 4</p>
        </div>
    </div>
    <div id="card-total">
        <div>
            <h2>#5</h2>
        </div>
        <img src="assets/imgs/ArtifactCard.png" alt="">
        <div id="description">
            <h2>Anime</h2>
            <p>Campo 1</p>
            <p>Campo 2</p>
            <p>Campo 3</p>
            <p>Campo 4</p>
        </div>
    </div>
</div>