<div id="key-words">
    <div>
        <h3>Romances</h3>
    </div>
    <div>
        <h3>Suspense</h3>
    </div>
    <div>
        <h3>Mangás Shounen</h3>
    </div>
    <div>
        <h3>Animes de Ação</h3>
    </div>
    <div>
        <h3>Slice of Life</h3>
    </div>
    <div>
        <h3>Mistério</h3>
    </div>
    <div>
        <h3>Drama</h3>
    </div>
    <div>
        <h3>Fantasia</h3>
    </div>
    <div>
        <h3>Ficção</h3>
    </div>
    <div>
        <h3>Comédia</h3>
    </div>
</div>