<div class="container pt-3">
  <mdp-basic-company-widget [company]="pageModel.company"></mdp-basic-company-widget>
  <div class="accordion pt-3" id="accordionCompanyPage">
    <!--Essas(s) 3 propriedades/componentes estão pendentes de decisão do que fazer com o Link-->
    <div class="accordion-item">
        <mdp-participations-list [useArtifact]=true [participations]="pageModel.participations"></mdp-participations-list>

    </div>
    <div class="accordion-item">
        <!-- <mdp-link-list-widget target="Two" [label]="'Affiliates:'" /> -->
    </div>
</div>
</div>