@import '../../../variables.scss';
.collapsableGrid {
  display: grid;
  grid-template-columns: 150px auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.cardMainText {
  // Styles for .cardMainText go here
}


.cardTopText {
  font-size: $largeFontSize;
  font-family: $highlightFont;
  color: $mediumMainColor;
}

.cardBlockText {
  // Styles for .cardBlockText go here
}

.textBlock{
  display: flex;
  flex-wrap: wrap;
}

.basicMargin{
  margin: 4px 0px 4px 0px;
}

p {
  margin: 0px 0px 0px 0px;
}

img {
  width: 100%;
  height: auto;
}

.wrapper {
  overflow: auto;
}

.artifactRate{
  font-size: 30px;
}
