<!-- <div [ngClass]="mediaQuery.portrait ? 'portraitContentWrapper' : 'contentWrapper'">
    <div id="main" class="verticalFlex">
      
      <mdp-chip-search></mdp-chip-search>
      <mdp-artifact-list #list [artifacts]="pageModel.artifacts"></mdp-artifact-list>
    </div>
    <mdp-ad-list *ngIf="!mediaQuery.portrait"></mdp-ad-list>
</div> -->
<div class="container pt-3">
  <section>
    <mdp-carousel [links]="pageModel.newsAndHighlights"></mdp-carousel>  
  </section>
  <section>
    <h2>Recommended</h2>
    <mdp-artifact-list #list [artifacts]="pageModel.artifacts"></mdp-artifact-list>
  </section>
  <section>
    <h2>New to MDP</h2>
    <mdp-artifact-list #list [artifacts]="pageModel.artifacts"></mdp-artifact-list>
  </section>
  <section>
    <h2>Most popular</h2>
    <mdp-artifact-list #list [artifacts]="pageModel.artifacts"></mdp-artifact-list>
  </section>
</div>