<!-- <div [ngClass]="mediaQuery.portrait ? 'portraitContentWrapper' : 'contentWrapper'">
    <div id="main" class="verticalFlex">
        <mdp-basic-work-widget [work]="pageModel.work"></mdp-basic-work-widget>
        <mdp-vertical-folder label="News and Highlights"  maxHeight="auto">
            <mdp-news-and-highlights-widget [links]="pageModel.newsAndHighlights??[]"></mdp-news-and-highlights-widget>
        </mdp-vertical-folder>
        @if (showFractions){
            <mdp-vertical-folder [label]="fractionsLabel" maxHeight="auto">
                <mdp-link-list-widget [links]="pageModel.fractions??[]"></mdp-link-list-widget>
            </mdp-vertical-folder>
        }
        <mdp-vertical-folder label="Participants" maxHeight="auto">
            <mdp-link-list-widget [links]="pageModel.participants??[]"></mdp-link-list-widget>
        </mdp-vertical-folder>
        <mdp-vertical-folder label="Related {{pageModel.work.media}}" maxHeight="auto">
            <mdp-link-list-widget [links]="pageModel.relatedWorks??[]"></mdp-link-list-widget>
        </mdp-vertical-folder>
        <mdp-reviews-list *ngIf="mediaQuery.portrait" [reviews]="pageModel.reviews"></mdp-reviews-list>
    </div>
    <mdp-reviews-list [vertical]="true" *ngIf="!mediaQuery.portrait" [reviews]="pageModel.reviews"></mdp-reviews-list>
</div> -->
<div class="container">
        <mdp-basic-work-widget [work]="pageModel.work" />
        <div class="accordion" id="accordionWorkPage">
            <div class="accordion-item">
                <mdp-news-and-highlights-widget target="One" [links]="pageModel.newsAndHighlights??[]" />
            </div>
            <div class="accordion-item">
                <mdp-link-list-widget *ngIf="showFractions" target="Two" [label]="'Fractions Label'" [links]="pageModel.fractions??[]" />
            </div>
            <div class="accordion-item">
                <mdp-link-list-widget target="Three" [label]="'Participants'" [links]="pageModel.participants??[]" />
            </div>
            <div class="accordion-item">
                <mdp-link-list-widget target="Four" [label]="'Related'" [links]="pageModel.relatedWorks??[]" />
            </div>
        </div>
        <mdp-reviews-list [reviews]="pageModel.reviews" />  
</div>
<!-- <mdp-reviews-list *ngIf="mediaQuery.portrait" [reviews]="pageModel.reviews"></mdp-reviews-list>
<mdp-reviews-list [vertical]="true" *ngIf="!mediaQuery.portrait" [reviews]="pageModel.reviews"></mdp-reviews-list> -->











