<div class="container pt-3">
        <mdp-basic-work-widget [work]="pageModel.work" />
        <div class="accordion pt-3" id="accordionWorkPage">
            <div class="accordion-item">
                <mdp-news-and-highlights-widget target="One" [news]="pageModel.newsAndHighlights??[]" />
            </div>
            <!--Essas(s) 3 propriedades/componentes estão pendentes de decisão do que fazer com o Link-->
            <div class="accordion-item">
                <!--Lista de frações vai vir aq-->
            </div>
            <div class="accordion-item">
                <mdp-participations-list route="company" [participations]="pageModel.participantCompanies"></mdp-participations-list>
            </div>
            <div class="accordion-item">
                <mdp-participations-list route="person" [participations]="pageModel.participantPersons"></mdp-participations-list>
            </div>
            <!--Lista de relacionados vai ficar aq-->
        </div>
        <!--Reviews temporariamente removidas-->
        <mdp-reviews-list />  
</div>











