@import '../../../../../variables.scss';
#main {
    width: 95%;
    margin: 0 auto;
    // background-color: rgb(43, 42, 42);
    background-color: $darkThemeBackgroundColor;
}
mdp-basic-work-widget{
    width: 100%;
    height: $summaryWidgetHeight;
    background-color: aqua;
    margin-top: 100px;
    display: flex;
} mdp-vertical-folder{
    font-size: $largeFontSize;
    margin-top: 15px;
    background-color: darkblue;
}