@import '../../../../variables.scss';

#main{
    display: flex;
    flex-direction: column;
} .newsTitle{
    font-size: $largeFontSize;
    color: $mediumMainColor;
    text-align: center;
    margin-bottom: 8px;
} .newsBlock {
    margin-bottom: 15px;
} .leftImg {
    float: left;
    margin-right: 10px;
} .rightImg{
    float: right;
    margin-left: 10px;
} img{
    max-height: 500px;
    width: auto;
}