@import '../../../../variables.scss';
.newsTitle{
    font-size: $largeFontSize;
    color: $mediumMainColor;
} div {
    border-bottom-width: 1px;
    border-color: $strongBackgroundColor;
} img {
    float: left;
}