#main{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 25px;
} mdp-artifact-card{
    height: 200px;
} .innerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
} .lastInnerFlex{
   /*  justify-content: start; */
}