<div id="main">
    <div id="l">
        <h1>RELEASES</h1>
        @for (row of artifactRows; track row[0]){
        <div class="innerFlex" [class.lastInnerFlex]="$last">
            @for (artifact of row[1]; track artifact.id){
            <mdp-artifact-card [artifact]="artifact"></mdp-artifact-card>
            }
        </div>
        }
    </div>
    <div id="m">
        <h1>MOST POPULAR</h1>
        @for (row of artifactRows; track row[0]){
        <div class="innerFlex" [class.lastInnerFlex]="$last">
            @for (artifact of row[1]; track artifact.id){
            <mdp-artifact-card [artifact]="artifact"></mdp-artifact-card>
            }
        </div>
        }
    </div>
</div>