<div id="register">
    <p *ngIf="passwordsDiffer">The passwords are different!</p>
    <div id="username">
        <h2>Username</h2>
        <div class="box">
            <div>
                <input type="text" [(ngModel)]="usernameValue">
            </div>
        </div>
    </div>
    <div id="email">
        <h2>Email</h2>
        <div class="box">
            <div>
                <input type="text" [(ngModel)]="emailValue">
            </div>
        </div>
    </div>
    <div id="password">
        <div>
            <h2>Password</h2>
            <div [ngClass]="passwordsDiffer? 'box-red box':'box'">
                <div>
                    <input type="password" [(ngModel)]="passwordValue">
                </div>
            </div>
        </div>
        <div>
            <h2>Confirme Password</h2>
            <div [ngClass]="passwordsDiffer? 'box-red box':'box'">
                <div>
                    <input type="password" [(ngModel)]="passwordConfirmedValue">
                </div>
            </div>
        </div>
    </div>
    <p (click)="handleLoginClick()">Do you already have registration? Log in now.</p>
    <div id="buttons-sign">
        <button (click)="handleRegisterClick()">Register</button>
    </div>
</div>