@import '../../../../variables.scss';

.mainBlockText:hover {
    cursor: pointer;
    text-decoration: underline;
}
  
.flexbox {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap:6px;
}
  
.block.flexbox {
    justify-content: start;
    column-gap:3px;
    flex-wrap: nowrap;
}

.block {
    border-width: 0px 1px 1px 0px;
    border-color: $strongMainColor;
    width: 180px;
    height: 100px;
}
  
.smallBlock {
    @extend .block;
    width: 110px;
}

img, a{
    height: 100%;
    width: auto;
}