
<h2 class="accordion-header">
  <button class="accordion-button" type="button" data-bs-toggle="collapse"
  [attr.data-bs-target]="'#panelsStayOpen-collapse' + target" aria-expanded="true"
  [attr.aria-controls]="'panelsStayOpen-collapse' + target">
      {{label}}
  </button>
</h2>
<div [id]="'panelsStayOpen-collapse' + target" class="accordion-collapse collapse show">
  <div class="accordion-body">
    <div class="flexbox">
      <div *ngFor="let link of links" class="flexbox" [ngClass]="(mediaQuery.portrait || forceSmallBlock) ? 'smallBlock' : 'block'">
        <a [routerLink]="link.redirectTo">
          <img [src]="link.imgUrl??'assets/imgs/defaultmain.png'">
        </a>
        <div>
          <p class="mainBlockText" [routerLink]="link.redirectTo">{{link.mainLabel}} </p>
          <p class="secondaryBlockText">{{link.secondaryLabel}}</p>
        </div>
      </div>
  </div>
  </div>
