<div class="summaryGrid">
    <img id="mainImage" [src]="company.mainImgUrl" alt="assets/imgs/defaultmain.png">
    <div id="title" class="titleText centerInternalText">{{company.fullName}}</div> 
    <div id="rateArea">
        <mdp-rate-widget [rate]="company.averageRating" class="rateWidget"></mdp-rate-widget>
        <mdp-rate-control (rated)="RateChanged($event)"></mdp-rate-control>
    </div>
    <div id="miscInfo">
        <div class="summaryBlockTextContainer twoColumnsGrid">
            <p class="mainBlockText">Main Text: </p><p class="secondaryBlockText">Secondary Text</p>
          </div>
          <div class="summaryBlockTextContainer twoColumnsGrid">
            <p class="mainBlockText">Main Text: </p><p class="secondaryBlockText">Secondary Text</p>
          </div>
          <div class="summaryBlockTextContainer twoColumnsGrid">
            <p class="mainBlockText">Main Text: </p><p class="secondaryBlockText">Secondary Text</p>
          </div>
          <div class="summaryBlockTextContainer twoColumnsGrid">
            <p class="mainBlockText">Main Text: </p><p class="secondaryBlockText">Secondary Text</p>
          </div>
    </div>
</div>