#main {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    // align-items: center;
    // background-color: darkgoldenrod;
}

mdp-login-forms {
    width: 50%;
    height: 50%;
}

mdp-register-forms {
    width: 80%;
    height: 50%;
}