<div class="card border-1" style="width: 150px; min-height: 265px;">
  <a [routerLink]="['/', artifact.media.name.literal.toLowerCase()]">
      <img [src]="artifact.cardImage.url" class="card-img-top" alt="..." style="width: 100%; min-height: 200px;">
  </a>
  <div class="card-body p-2">
      <a [routerLink]="['/', artifact.media.name.literal.toLowerCase(), artifact.id]" style="text-decoration: none; color: inherit;">
          <h6 class="card-title" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{
              artifact.fullName }}</h6>
      </a>
      <div class="d-flex justify-content-between" style="font-size: 14px;">
              <span>{{ artifact.media.name}}</span>
          <span>{{ artifact.averageRating }}/10</span>
      </div>
  </div>
</div>