<!-- 
<img id="mainImage" [src]="work.mainImgUrl">
<div id="aaa">
  <div class="summaryBlockTextContainer twoColumnsGrid nn">
    <div id="title" class="titleText centerInternalTextt">{{work.fullName}}</div>
    <mdp-rate-widget [rate]="work.averageRating" class="rateWidget"></mdp-rate-widget>
  </div>
  <div id="miscInfo">
    <div class="summaryBlockTextContainer twoColumnsGrid">
      <p class="mainBlockText">Author:</p>
      <p class="secondaryBlockText">Secondary Text</p>
    </div>
    <div class="summaryBlockTextContainer twoColumnsGrid">
      <p class="mainBlockText">Media:</p>
      <p class="secondaryBlockText">Secondary Text</p>
    </div>
    <div class="chipCategories summaryBlockTextContainer">
      <p class="mainBlockText">Action</p>
      <p class="mainBlockText">Shounen</p>
      <p class="mainBlockText">Isekai</p>
      <p class="mainBlockText">Sci-fi</p>
    </div>
    <div class="description summaryBlockTextContainer twoColumnsGrid mm">
      <p class="secondaryBlockText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut vel nisi excepturi,
        provident voluptatem praesentium, consectetur mollitia odit illum earum a dolore repudiandae sint possimus
        voluptate perspiciatis et itaque vero animi nemo. Deleniti maiores asperiores enim iure velit!</p>
    </div>
  </div>
</div>
<div id="rateArea">
  <button mat-flat-button color="accent" (click)="openRateDialog()">Rate it</button>
  <div id="addFavorite">
    <button mat-flat-button color="primary">Add to favorites</button>
  </div>
</div> -->

<div class="card border-0">
  <div class="row g-0 d-flex justify-content-center">
      <div class="col-md" style="max-width: 270px;">
          <img [src]="work.mainImgUrl??'assets/imgs/defaultmain.png'" class="img-fluid rounded mainImage" alt="..." style="width: 270px; height: 270px;">
      </div>
      <div class="col-md px-3">
          <div class="card-body">
              <h1 class="card-title">{{ work.fullName }}</h1>
              <mdp-genre-list [categories]="work.categories" />
              <p [class.collapsed]="isCollapsed" class="card-text mt-3">
                  {{ work.description }}
              </p>
              <!-- <p (click)="toggleText()" class="mt-0"
                  style="text-decoration: underline; color:#0000FF; cursor: pointer;">{{
                  isCollapsed ? 'more' : 'less' }}</p> -->
              <div class="d-flex mt-3">
                  <mdp-star-list [value]="work.averageRating" />
                  <h4 class="ms-2">{{ work.averageRating }}/10</h4>
                  <mdp-work-rate-dropdown class="ms-2" />
              </div>
              <div class="mt-3">
                  <button type="button" class="btn btn-primary me-2">Add to my list</button>
                  <button type="button" class="btn btn-warning">Add to favorites</button>
              </div>
          </div>
      </div>
  </div>
</div>