<!-- <div class="summaryGrid">
    <img id="mainImage" [src]="work.mainImgUrl">
    <div id="title" class="titleText centerInternalTextt">{{work.fullName}}</div> 
    <div id="rateArea">
        <mdp-rate-widget [rate]="work.averageRating" class="rateWidget"></mdp-rate-widget>
        <mdp-rate-control (rated)="RateChanged($event)"></mdp-rate-control>
    </div>
    <div id="miscInfo">
      <div class="summaryBlockTextContainer twoColumnsGrid">
        <p class="mainBlockText">Author:</p><p class="secondaryBlockText">Secondary Text</p>
      </div>
      <div class="chipCategories">
        <p class="mainBlockText">Action</p>
        <p class="mainBlockText">Shounen</p>
        <p class="mainBlockText">Isekai</p>
        <p class="mainBlockText">Sci-fi</p>
      </div>
      <div class="summaryBlockTextContainer twoColumnsGrid">
        <p class="mainBlockText">Main Text: </p><p class="secondaryBlockText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut vel nisi excepturi, provident voluptatem praesentium, consectetur mollitia odit illum earum a dolore repudiandae sint possimus voluptate perspiciatis et itaque vero animi nemo. Deleniti maiores asperiores enim iure velit. Exercitationem voluptatibus accusantium omnis repellendus rerum nobis et suscipit iusto! Eaque!</p>
      </div>

    </div>
</div> -->
<img id="mainImage" [src]="work.mainImgUrl">
<div id="aaa">
  <div class="summaryBlockTextContainer twoColumnsGrid nn">
    <div id="title" class="titleText centerInternalTextt">{{work.fullName}}</div>
    <mdp-rate-widget [rate]="work.averageRating" class="rateWidget"></mdp-rate-widget>
  </div>
  <div id="miscInfo">
    <div class="summaryBlockTextContainer twoColumnsGrid">
      <p class="mainBlockText">Author:</p>
      <p class="secondaryBlockText">Secondary Text</p>
    </div>
    <div class="summaryBlockTextContainer twoColumnsGrid">
      <p class="mainBlockText">Media:</p>
      <p class="secondaryBlockText">Secondary Text</p>
    </div>
    <div class="chipCategories summaryBlockTextContainer">
      <p class="mainBlockText">Action</p>
      <p class="mainBlockText">Shounen</p>
      <p class="mainBlockText">Isekai</p>
      <p class="mainBlockText">Sci-fi</p>
    </div>
    <div class="description summaryBlockTextContainer twoColumnsGrid mm">
      <p class="secondaryBlockText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ut vel nisi excepturi,
        provident voluptatem praesentium, consectetur mollitia odit illum earum a dolore repudiandae sint possimus
        voluptate perspiciatis et itaque vero animi nemo. Deleniti maiores asperiores enim iure velit!</p>
    </div>
  </div>
</div>
<div id="rateArea">
  <button mat-flat-button color="accent" (click)="openRateDialog()">Rate it</button>
  <div id="addFavorite">
    <button mat-flat-button color="primary">Add to favorites</button>
  </div>
</div>