<div [ngClass]="mediaQuery.portrait ? 'portraitContentWrapper' : 'contentWrapper'">
    <div id="main" class="verticalFlex">
      <mdp-basic-person-widget [person]="pageModel.person"></mdp-basic-person-widget>
      <mdp-vertical-folder label="Worked in: " maxHeight="auto">
        <mdp-link-list-widget [links]="pageModel.artifactParticipations??[]"></mdp-link-list-widget>
      </mdp-vertical-folder>
      <mdp-vertical-folder label="Works for: " maxHeight="auto">
        <mdp-link-list-widget [links]="pageModel.companyAffiliations??[]"></mdp-link-list-widget>
      </mdp-vertical-folder>
    </div>
    <mdp-ad-list *ngIf="!mediaQuery.portrait"></mdp-ad-list>
</div>