<div class="container pt-3">
  <mdp-basic-person-widget [person]="pageModel.person" />
  <div class="accordion pt-3" id="accordionPersonPage">
      <div class="accordion-item">
        <!--Essas(s) propriedades estão pendentes de decisão do que fazer com o Link-->
          <mdp-participations-list [useArtifact]=true [participations]="pageModel.participations"></mdp-participations-list>
      </div>
      <div class="accordion-item">
        <!--Essas(s) propriedades estão pendentes de decisão do que fazer com o Link-->
          <!-- <mdp-link-list-widget target="Two" [label]="'Worked for'"/> -->
      </div>
  </div>
</div>