<div class="container">
    <div *ngFor="let link of links; let i = index" class="imgContainer"
    [@slideLeft]="slideLeft[i]" [@slideRight]="slideRight[i]? 'slided':'still'"
    (@slideLeft.done)="FinishedSlidingLeft(i)" (@slideRight.done)="FinishedSlidingRight(i)">
        <img [src]="link.imgUrl" (click)="router.navigate([link.redirectTo])">
    </div>
    <i class="material-symbols-outlined icon left" (click)="Left()">chevron_left</i>
    <i class="material-symbols-outlined icon right" (click)="Right()">chevron_right</i>
</div>

<!-- (@slideLeft.done) = "FinishedSliding()" (@slideRight.done) = "FinishedSliding()" -->