<form (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" [(ngModel)]="emailValue">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="passwordValue" name="pass">
    </div>
    <p (click)="handleRegisterClick()">You don't have a registration?Register now.</p>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>